body {
    background-color: #fdf4dc;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
  }
  
  .container {
    padding: 20px;
  }
  
  h1 {
    font-size: 3em;
    color: #008000;
  }
  
  .assinatura {
    margin-top: 20px;
    font-size: 1.5em;
    color: #555;
  }
  